// Import page-specific CSS files here.
@import "home";
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

body {
  background-color: rgba(222, 219, 210, 1);
}
input {
  border-radius: 4px !important;
}

.btn-primary {
  border-radius: 50px;
  border: 1px solid #dedbd2;
  color: white;
  background: rgb(74, 87, 89);
  &:active, &:focus {
    color: #fff !important;
    border: 1px solid #fff !important;;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5) !important;;
    background-color: rgb(132, 106, 106) !important;;
  }
  &:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: rgb(132, 106, 106);
  }
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
@media(max-width: 992px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 22px;
  }
}
@media(max-width: 576px) {
  .container {
    padding: 0 30px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 16px;
  }
}
a:hover {
  text-decoration: none;
}
.card {
  transition: 0.5s;
  color: rgba(50, 50, 50, 1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  border: 1px solid gainsboro;
  color: rgb(74, 87, 89);
  text-decoration: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    transition: 0.5s;
    filter: brightness(1.1);
    transform: scale(1.01);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
  }
}
.card-image {
  background-size: cover;
  height: 200px;
  max-height: 25vw;
  border-radius: 5px 5px 0 0;
}

