.cocktail-info {
  height: 100%;
  border: 1px solid rgba(1, 1, 1, 0.2);
  background-color: rgba(235, 235, 235, 1);
  display: flex;
  div {
    padding: 20px 10px;
  }
  .cocktail-img {
    margin-right: 20px;
    background-size: cover;
    background-position: center center;
    flex-grow: 1;
  }
}

@media(max-width: 576px) {
  .cocktail-info {
    flex-direction: column;
    .cocktail-img {
        min-height: 200px;
        margin-right: 0;
    }
  }
}
