header {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/1200x200/?cocktail');
  background-cover: cover;
  padding: 20px;
  line-height: 80px;
  margin-bottom: 40px;
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  #logo {
    font-family: cursive;
    font-size: 34px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
  }
  #logo:hover i {
    transform: rotate(-20deg);
    transition: 1s;
    text-shadow: 0 0 15px rgba(5, 108, 231, 1);
  }
  #logo:hover {
    text-decoration: underline rgba(5, 108, 231, 1);
  }

  .btn {
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3)
  }
}
