@keyframes cheers {
  0% {left: 0px}
  3% {left: 10px}
  5% {transform: rotate(5deg); left: 10px}
  10% {transform: rotate(0deg); left: 10px}
  20% {transform: rotate(0deg); left: 0px}
  40% {transform: rotate(0deg); left: 0px}
  75% {transform: rotate(-20deg)}
  100% {transform: rotate(0deg)}
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url('https://source.unsplash.com/EWDvHNNfUmQ/1600x200');
  background-size: cover;
  background-position: right center;
  padding: 20px;
  line-height: 80px;
  margin-bottom: 40px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  >div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }
  #logo {
    font-family: Marck Script;
    font-size: 38px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    white-space: nowrap;
    text-shadow: 1px 1px 20px rgba(1, 1, 1, 0.5);
  }
  #logo:hover i {
    position: relative;
    animation-name: cheers;
    animation-duration: 2s;
  }
}
@media(max-width: 992px) {
  header #logo {
    font-size: 32px;
  }
}
@media(max-width: 576px) {
  header {
    >div {
      flex-direction: column;
    }
    #logo {
      font-size: 26px;
    }
    .btn {
      margin-bottom: 15px;
    }
  }
}



