<header>
  <div class="container">
    <%= link_to root_path, id: "logo" do %>
      <i class="fas fa-cocktail"></i> Mister Cocktail
    <% end %>
    <%= link_to new_cocktail_path, class: "btn btn-primary" do %>
      <i class="fas fa-plus"></i> Add Cocktail
    <% end %>
  </div>
</header>
